<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trabalho de ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item >
      <ion-input name="itemLista" [(ngModel)]="tarefa.itemLista" type="text"></ion-input>
    </ion-item>
    <ion-item >
      <button (click)="adicionar()">Adicionar</button>
    </ion-item>
    <ion-item *ngFor="let item of tarefas" >
      <strong (click)="mudaCor(item)" [class.concluido]="item.concluido"> {{item.itemLista}} </strong>
    </ion-item>    
  </ion-list>
</ion-content>
